@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Bitcoin specific styles */
.bitcoin-symbol {
  font-size: 6rem;
  line-height: 1;
  color: #FFD700;
}

/* High contrast mode */
.high-contrast {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.high-contrast .text-white\/70,
.high-contrast .text-white\/60,
.high-contrast .text-white\/80 {
  color: rgb(255, 255, 255);
}

.high-contrast a:hover,
.high-contrast button:hover {
  text-decoration: underline;
}

/* Font size adjustments */
.text-normal {
  font-size: 100%;
}

.text-large {
  font-size: 120%;
}

.text-larger {
  font-size: 150%;
}

.text-large h1, .text-larger h1 {
  font-size: 150%;
}

.text-large p, .text-larger p {
  line-height: 1.5;
}